* {
  margin: 0;
  padding: 0;
}

root, html {
  height: 100vh;
  width: 100vw;
}

body {
  height: 100%;
  width: 100%;
}

#container {
  display: flex;
  flex-direction: column;
}

#container > div:first-child {
  border: thick solid sienna;
}

#container > div:nth-child(2) {
  border: thick solid cornflowerblue;
}

.button {
  height: 50px;
  width: 100px;
  margin: 5px;
  border: thick solid cornflowerblue;
}
